<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" color="light" routerLink="/products">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Place order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="product">
    <img alt="Product image" [src]="product?.url" />
    <ion-card-header>
      <ion-card-title>{{ product?.name }}</ion-card-title>
      <ion-card-subtitle>${{ product?.price }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{ product?.description }}</p>
    </ion-card-content>

    <!-- Add more UI elements for placing the order -->
    <ion-button expand="full" color="primary" (click)="placeOrder(product)">Place Order</ion-button>
  </ion-card>
</ion-content>