<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" color="light" routerLink="/dashboard">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab class="new-product" routerLink="/new-product">
    <ion-fab-button>
      <ion-icon name="add" color="warning"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngFor="let tempProd of products" (click)="viewProduct(tempProd)">
    <img alt="Silhouette of mountains" src="{{tempProd?.url}}" />
    <ion-card-header>
      <ion-card-title>{{tempProd?.name}}</ion-card-title>
      <ion-card-subtitle>{{tempProd?.price}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{tempProd?.description}}
    </ion-card-content>
  </ion-card>
  

</ion-content>
